Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Create auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Create CONTACT.md
  CONTACT.md
Labels: docs

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update and rename gen_stub.sh to generate_stubs.sh
  scripts/gen_stub.sh
  scripts/generate_stubs.sh
Labels: none

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update generate_stubs.sh
  scripts/generate_stubs.sh
Labels: none

Update generate_stubs.sh
  scripts/generate_stubs.sh
Labels: none

Update generate_stubs.sh
  scripts/generate_stubs.sh
Labels: none

Delete scripts/r3c_full_setup.sh
  scripts/r3c_full_setup.sh
Labels: none

Update generate_stubs.sh
  scripts/generate_stubs.sh
Labels: none

v7.5.2 Safe Stub Fix: Static Core build verified on Windows
  .github/workflows/build.yml
  CMakeLists.txt
  scripts/generate_stubs.ps1
  scripts/generate_stubs.sh
  src/docgen.cpp
  src/formatter.cpp
  src/main.cpp
  src/manifest.cpp
  src/pipeline.cpp
  src/pkgmgr.cpp
  src/r3c.cpp
  src/r3c_stub.cpp
  src/r3cpkg.cpp
  src/stdlib_r3c.cpp
  src/tester.cpp
  src/transpiler.cpp
Labels: compiler-core, automation

Update README.md
  README.md
Labels: docs

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Create traffic-monitor.yml
  .github/workflows/traffic-monitor.yml
Labels: automation

Create traffic_monitor_multi.py
  scripts/traffic_monitor_multi.py
Labels: none

Update README.md
  README.md
Labels: docs

Update build.yml
  .github/workflows/build.yml
Labels: automation

Create main.cpp
  examples/main.cpp
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Create auto_document_discussions.md
  docs/auto_document_discussions.md
Labels: docs

Create document_discussions.yml
  .github/workflows/document_discussions.yml
Labels: automation

Create fetch_discussions.py
  scripts/fetch_discussions.py
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation
