Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Create update_banner.py
  scripts/update_banner.py
Labels: none

Create update-banner.yml
  .github/workflows/update-banner.yml
Labels: automation

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Delete .github/workflows/update-banner.yml
  .github/workflows/update-banner.yml
Labels: automation

Update update_banner.py
  scripts/update_banner.py
Labels: none

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation

Update update_banner.py
  scripts/update_banner.py
Labels: none

Update README.md
  README.md
Labels: docs

Update update_banner.py
  scripts/update_banner.py
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update auto-stable-tag.yml
  .github/workflows/auto-stable-tag.yml
Labels: automation
