Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update pipeline.hpp
  include/pipeline.hpp
Labels: compiler-core

Update pipeline.cpp
  src/pipeline.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update pipeline.hpp
  include/pipeline.hpp
Labels: compiler-core

Update pipeline.cpp
  src/pipeline.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Create .gitattributes
  .gitattributes
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Create _fallback_main.cpp
  src/_fallback_main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Create auto_branch.yml
  .github/workflows/auto_branch.yml
Labels: automation

Update auto_branch.yml
  .github/workflows/auto_branch.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Add files via upload
  CMakeLists.txt
Labels: none

Add files via upload
  src/main.cpp
Labels: compiler-core

Add files via upload
  src/transpiler.cpp
  src/transpiler.hpp
Labels: compiler-core

Add files via upload
  .github/workflows/auto-stable-tag.yml
  .github/workflows/build.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs
