Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

Update traffic.yml
  .github/workflows/traffic.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

🩹 auto-repair: cleaned corrupted sources & patched cmake
  src/docgen.cpp
  src/formatter.cpp
  src/main.cpp
  src/manifest.cpp
  src/pipeline.cpp
  src/pkgmgr.cpp
  src/r3c.cpp
  src/r3cpkg.cpp
  src/stdlib_r3c.cpp
  src/tester.cpp
  src/transpiler.cpp
Labels: compiler-core

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

🩹 auto-fix: patched CMake policy + cleaned corrupted sources
  src/docgen.cpp
  src/formatter.cpp
  src/main.cpp
  src/manifest.cpp
  src/pipeline.cpp
  src/pkgmgr.cpp
  src/r3c.cpp
  src/r3c_stub.cpp
  src/r3cpkg.cpp
  src/stdlib_r3c.cpp
  src/tester.cpp
  src/transpiler.cpp
Labels: compiler-core

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update R3C_Architecture_Detail.md
  docs/R3C_Architecture_Detail.md
Labels: docs

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update README.md
  README.md
Labels: docs

Update auto-rebuild-on-close.yml
  .github/workflows/auto-rebuild-on-close.yml
Labels: automation

Create gen_stub.sh
  scripts/gen_stub.sh
Labels: none

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update gen_stub.sh
  scripts/gen_stub.sh
Labels: none

Delete .github/workflows directory
  .github/workflows/auto-build.yml
  .github/workflows/auto-rebuild-on-close.yml
  .github/workflows/build.yml
  .github/workflows/contrib-auto.yml
  .github/workflows/contributors.yml
  .github/workflows/dashboard-update.yml
  .github/workflows/geo-dashboard.yml
  .github/workflows/new-contributor.yml
  .github/workflows/project-auto.yml
  .github/workflows/r3c_build.yml
  .github/workflows/readme-sync.yml
  .github/workflows/release-auto.yml
  .github/workflows/release.yml
  .github/workflows/self-fix.yml
  .github/workflows/self-heal.yml
  .github/workflows/test-build.yml
  .github/workflows/traffic-badge.yml
  .github/workflows/traffic-update.yml
  .github/workflows/traffic.yml
  .github/workflows/weekly-summary.yml
Labels: automation

Create r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update gen_stub.sh
  scripts/gen_stub.sh
Labels: none

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

Update r3c_solo.yml
  .github/workflows/r3c_solo.yml
Labels: automation

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'
