Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

Create funding.yml
  .github/workflows/funding.yml
Labels: automation

Update README.md
  README.md
Labels: docs

💰 Auto-update funding info: 0 USD
  README.md
  reports/funding.json
Labels: docs

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update README.md
  README.md
Labels: docs

Update .all-contributorsrc
  .all-contributorsrc
Labels: none

Update README.md
  README.md
Labels: docs

💰 Auto-update funding info: 0 USD
  README.md
Labels: docs

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: none

Create PULL_REQUEST_TRMPLATE.md
  .github/PULL_REQUEST_TRMPLATE.md
Labels: none

Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: none

Update feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: none

💰 Auto-update funding info: 0 USD
  README.md
Labels: docs

Update transpiler.hpp
  src/transpiler.hpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Add Auto-Healing Rust Stub (Rust 1.90)
  src/main.cpp
  src/transpiler.cpp
  src/transpiler.hpp
Labels: compiler-core

💰 Auto-update funding info: 0 USD
  README.md
Labels: docs

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'
