Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update traffic-monitor.yml
  .github/workflows/traffic-monitor.yml
Labels: automation

Update traffic_monitor_multi.py
  scripts/traffic_monitor_multi.py
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update and rename document_discussions.yml to auto-discussion-doc.yml
  .github/workflows/auto-discussion-doc.yml
  .github/workflows/document_discussions.yml
Labels: automation

Update fetch_discussions.py
  scripts/fetch_discussions.py
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update auto-discussion-doc.yml
  .github/workflows/auto-discussion-doc.yml
Labels: automation

Update fetch_discussions.py
  scripts/fetch_discussions.py
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update transpiler.hpp
  src/transpiler.hpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update pipeline.cpp
  src/pipeline.cpp
Labels: compiler-core
