Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

Create release-auto.yml
  .github/workflows/release-auto.yml
Labels: automation

Update release-auto.yml
  .github/workflows/release-auto.yml
Labels: automation

Update r3cpkg.cpp
  src/r3cpkg.cpp
Labels: compiler-core

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Add files via upload
  docs/r3c_logo.png
Labels: docs

Update README.md
  README.md
Labels: docs

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update test-build.yml
  .github/workflows/test-build.yml
Labels: automation

Create pipeline.hpp
  include/pipeline.hpp
Labels: compiler-core

Update pipeline.cpp
  src/pipeline.cpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs

Create feature.yml
  .github/ISSUE_TEMPLATE/feature.yml
Labels: none

Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

Update README.md
  README.md
Labels: docs

Create good_first_issue.yml
  .github/ISSUE_TEMPLATE/good_first_issue.yml
Labels: none

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

🩹 self-fix: regenerated missing files
  include/nlohmann/json.hpp
  src/r3c_stub.cpp
Labels: compiler-core

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update CMakeLists.txt
  CMakeLists.txt
Labels: none

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Update README.md
  README.md
Labels: docs

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update release.yml
  .github/workflows/release.yml
Labels: automation

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

Update SECURITY.md
  SECURITY.md
Labels: docs

Update self-fix.yml
  .github/workflows/self-fix.yml
Labels: automation

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'
