Repository 0200134/r3c, changes with the labels that .github/labeler.yml gives for each.
All labels: compiler-core, automation, docs, test

.github/labeler.yml:

compiler-core:
  - 'src/**'
  - 'include/**'

automation:
  - '.github/workflows/**'

docs:
  - '*.md'
  - 'docs/**'

test:
  - 'tests/**'

Update README.md
  README.md
Labels: docs

Update update_banner.py
  scripts/update_banner.py
Labels: none

Update update_banner.py
  scripts/update_banner.py
Labels: none

Delete scripts/traffic_monitor_multi.py
  scripts/traffic_monitor_multi.py
Labels: none

Update auto-stable-ecosystem.yml
  .github/workflows/auto-stable-ecosystem.yml
Labels: automation

Update auto-stable-ecosystem.yml
  .github/workflows/auto-stable-ecosystem.yml
Labels: automation

Update auto-stable-ecosystem.yml
  .github/workflows/auto-stable-ecosystem.yml
Labels: automation

Update transpiler.hpp
  src/transpiler.hpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update main.cpp
  src/main.cpp
Labels: compiler-core

Update transpiler.hpp
  src/transpiler.hpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update transpiler.cpp
  src/transpiler.cpp
Labels: compiler-core

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Create cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update README.md
  README.md
Labels: docs

Update cleanup.yml
  .github/workflows/cleanup.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none

Update build.yml
  .github/workflows/build.yml
Labels: automation

Update FUNDING.yml
  .github/FUNDING.yml
Labels: none
